{%extends "base.html" %}
{%block title%} Home {%endblock%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/home.css" />
</head>
<body>
    <div class = "title">
        Welcome to AIFlashCard
    </div>
    <p>Explore your true ability with AI</p>
    <br>
    <button><a href = "product">Get Started</a></button>
    
</body>
</html>
{%endblock%}